.tablaRanking{
  width: 100%;
  margin-bottom: 50px;
  display: grid;
}

.tablaRank{
  width:80%;
  margin-left: auto;
  margin-right:auto;
}

.recuadro{
  width: 100%;
  margin-bottom: 10px;       
  display: grid;
}

.titulo{
  font-size:30px;
  font-weight: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}